@keyframes hover-effect{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes heartbeat{
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoom-in{
    0% {
        width: 2rem;
        opacity: 0;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
    }
    100% {
        width: 50vw;
        opacity: 1;
        border-radius: 10px;
        position: absolute;
        left: 1%;
        top: 1%;
        /* transform-origin: left top; */
    }
}
@keyframes zoom-back{
    0% {
        width: 50vw;
        opacity: 1;
        border-radius: 10px;
        position: absolute;
        left: 1%;
        top: 1%;
        transform-origin: center right;
    }
    100% {
        width: 2rem;
        opacity: 0;
        border-radius: 50%;
        position: absolute;
        left: 100%;
        top: 100%;
        transform-origin: center right;
    }
}
@keyframes move-to-top{
    0% {
        position: absolute !important;
        text-wrap: normal;
        top: 50%;
        font-size: 1rem;
    }
    100% {
        position: absolute !important;
        text-wrap: nowrap;
        top: 30px;
        font-size: 3rem;
    }
}
@keyframes move-to-right{
    0% {
        left: 50%;
    }
    100% {
        left: 70%;
    }
}